<!-- The Head -->
{% include prj_site.html %}

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#f7f7f7">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#1b1b1e">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
  >

  {%- capture seo_tags %}
    {% seo title=false %}
  {%- endcapture %}

  {%- if page.image %}
    {%- assign img = page.image.path | default: page.image %}

    {%- unless img contains '://' %}
      {%- assign img_path = page.img_path | append: '/' | append: img | replace: '//', '/' %}
      {%- capture target %}"{{ img | absolute_url }}"{% endcapture %}

      {%- if site.img_cdn contains '//' %}
        <!-- it's a cross-origin URL -->
        {% capture replacement %}"{{ site.img_cdn }}{{ img_path }}"{% endcapture %}
      {%- else %}
        <!-- it's a local file path -->
        {%- capture replacement -%}
          "{{ site.img_cdn | append: '/' | append: img_path | replace: '//', '/' | absolute_url }}"
        {%- endcapture -%}
      {%- endif %}

      {%- assign seo_tags = seo_tags | replace: target, replacement %}
    {%- endunless %}
  {%- endif %}

  <!-- override seo_tags -->
  {%- assign page_title = page.title %}
  {%- if page.ro_ref == 'categories' %}
    {%- assign page_title = site.data.locales[page.lang].tabs.categories %}
  {%- elsif page.ro_ref == 'tags' %}
    {%- assign page_title = site.data.locales[page.lang].tabs.tags %}
  {%- elsif page.ro_ref == 'archives' %}
    {%- assign page_title = site.data.locales[page.lang].tabs.archives %}
  {%- elsif page.ro_ref == 'about' %}
    {%- assign page_title = site.data.locales[page.lang].tabs.about %}
  {%- endif %}

  {%- if page.layout != "post" %}
    {%- for index in (0..3) %}
      {%- if index == 3 %}{%- break %}{%- endif %}
      {%- assign from = "" %}
      {%- assign to = "" %}

      {%- if index == 0 %}
        {%- if page.layout == "home" %}
          {%- assign from = page.title %}
          {%- assign to = prj_site_title %}
        {%- else %}
          {%- assign from = page.title %}
          {%- assign to = page_title %}
        {%- endif %}
      {%- elsif index == 1 %}
        {%- assign from = site.title %}
        {%- assign to = prj_site_title %}
      {%- elsif index == 2 %}
        {%- assign from = site.description %}
        {%- assign to = prj_site_tagline %}
      {%- endif %}

      {%- if from != empty and from and to != empty and to %}
        {%- assign from = from | replace: '&', '&amp;' %}
        {%- assign from = from | replace: "'", "’" %}
        {%- assign to = to | replace: '&', '&amp;' %}
        {%- assign to = to | replace: "'", "’" %}
        {%- assign seo_tags = seo_tags | replace: from, to %}
      {%- endif %}
    {%- endfor %}

    {%- unless seo_tags contains "og:image" %}
    <meta property="og:image" content="{{ site.url }}/assets/img/favicons/mstile-150x150.png" />
    <meta property="og:image:alt" content="{{ prj_site_title }}" />
    <meta property="twitter:image" content="{{ site.url }}/assets/img/favicons/mstile-150x150.png" />
    <meta name="twitter:image:alt" content="{{ prj_site_title }}" />
    {%- endunless %}
  {%- endif %}

  {{ seo_tags }}
  <title>
    {%- unless page.layout == 'home' -%}
      {{ page_title | append: ' | ' }}
    {%- endunless -%}

    {{ prj_site_title }}
  </title>

  <!-- hreflang -->
  {% if page.layout == "home" -%}
    {% for llang in site.languages -%}
    <link rel="alternate" href="{{ site.url }}/{{ llang }}" hreflang="{{ llang }}" />
    {% endfor -%}
    <link rel="alternate" href="{{ site.url }}/en" hreflang="en" hreflang="x-default" />

  {% elsif page.layout == "post" -%}
    {% for llang in site.languages -%}
    <link rel="alternate" href="{{ site.url }}/{{ llang }}/{{ page.ro_ref }}" hreflang="{{ llang }}" />
    {% endfor -%}
    <link rel="alternate" href="{{ site.url }}/en/{{ page.ro_ref }}" hreflang="en" hreflang="x-default" />

  {% endif -%}

  <!-- favicons -->
  {% include_cached favicons.html %}

  {% if site.resources.ignore_env != jekyll.environment and site.resources.self_hosted %}
    <link href="{{ site.data.origin[type].webfonts | relative_url }}" rel="stylesheet">

  {% else %}
    {% for cdn in site.data.origin[type].cdns %}
      <link rel="preconnect" href="{{ cdn.url }}" {{ cdn.args }}>
      <link rel="dns-prefetch" href="{{ cdn.url }}" {{ cdn.args }}>
    {% endfor %}

    <link rel="stylesheet" href="{{ site.data.origin[type].webfonts | relative_url }}">
  {% endif %}

  <!-- GA -->
  {% if jekyll.environment == 'production' and site.google_analytics.id != empty and site.google_analytics.id %}
    <link rel="preconnect" href="https://www.google-analytics.com" crossorigin="use-credentials">
    <link rel="dns-prefetch" href="https://www.google-analytics.com">

    <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com">
  {% endif %}

  <!-- Google Search Console -->
  {% if site.google_search_console.id != empty and site.google_search_console.id %}
    {% include google-search-console.html %}
  {% endif %}

  <!-- Google Adsense -->
  {% if site.google_adsense.id != empty and site.google_adsense.id %}
    {% include google-adsense-meta.html %}
    {% include google-adsense.html %}
  {% endif %}

  <!-- Naver Analytics -->
  {% if jekyll.environment == 'production' and site.naver_analytics.id != empty and site.naver_analytics.id %}
    <link rel="preconnect" href="https://wcs.naver.net" crossorigin="use-credentials">
    <link rel="dns-prefetch" href="https://wcs.naver.net">
  {% endif %}

  <!-- Naver Search Advisor -->
  {% if site.naver_search_advisor.id != empty and site.naver_search_advisor.id %}
    {% include naver-search-advisor.html %}
  {% endif %}



  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ site.data.origin[type].bootstrap.css | relative_url}}">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ site.data.origin[type].fontawesome.css | relative_url }}">

  <link rel="stylesheet" href="{{ '/assets/css/:THEME.css' | replace: ':THEME', site.theme | relative_url }}">

  {% if site.toc and page.toc %}
    <link rel="stylesheet" href="{{ site.data.origin[type].toc.css | relative_url }}">
  {% endif %}

  {% if page.layout == 'post' or page.layout == 'page' or page.layout == 'home' %}
    <link rel="stylesheet" href="{{ site.data.origin[type]['lazy-polyfill'].css | relative_url }}">
  {% endif %}

  {% if page.layout == 'page' or page.layout == 'post' %}
    <!-- Manific Popup -->
    <link rel="stylesheet" href="{{ site.data.origin[type].magnific-popup.css | relative_url }}">
  {% endif %}

  <!-- JavaScript -->

  {% unless site.theme_mode %}
    {% include mode-toggle.html %}
  {% endunless %}

  {% include metadata-hook.html %}
</head>
