<!-- Navigation buttons at the bottom of the post. -->
{% assign VERBOSE = false %}
{% assign TAG = "[post-nav.html] " %}

{% comment %}-------------------------------------------------------------------{% endcomment %}
{% comment %} prj_prev_index, prj_post_prev, prj_next_index, prj_post_next      {% endcomment %}
{% comment %}-------------------------------------------------------------------{% endcomment %}
{% assign posts = site.posts | where_exp: 'item', 'item.lang == page.lang and item.layout == "post" and item.hidden != true' %}
{% assign prj_prev_index = -1 %}
{% assign prj_next_index = -1 %}

{% for index in (0..posts.size) %}
  {% if posts[index].ro_id == page.ro_id %}

    {% assign prj_prev_index = index | plus: 1 %}
    {% if prj_prev_index < posts.size %}
      {% assign prj_post_prev = posts[prj_prev_index] %}
    {% else %}
      {% assign prj_prev_index = -1 %}
    {% endif %}

    {% if prj_next_index >= 0 %}
      {% assign prj_post_next = posts[prj_next_index] %}
    {% endif %}

    {% break %}
  {% endif %}
  {% assign prj_next_index = index %}
{% endfor %}

{% if VERBOSE == true %}
  {{ TAG }}prj_prev_index={{ prj_prev_index }}<br>
  {{ TAG }}prj_post_prev.title={{ prj_post_prev.title }}<br>

  {{ TAG }}prj_next_index={{ prj_next_index }}<br>
  {{ TAG }}prj_post_next.title={{ prj_post_next.title }}<br>
{% endif %}

{% comment %}-------------------------------------------------------------------{% endcomment %}

<nav class="post-navigation d-flex justify-content-between" aria-label="Post Navigation">
  {% assign previous = site.data.locales[include.lang].post.button.previous %}
  {% assign next = site.data.locales[include.lang].post.button.next %}

  {% if prj_prev_index >= 0 %}
    <a
      href="{{ site.baseurl }}{{ prj_post_prev.url }}"
      class="btn btn-outline-primary"
      aria-label="{{ previous }}"
    >
      <p>{{ prj_post_prev.title }}</p>
    </a>
  {% else %}
    <div class="btn btn-outline-primary disabled" aria-label="{{ previous }}">
      <p>-</p>
    </div>
  {% endif %}

  {% if prj_next_index >= 0 %}
    <a
      href="{{ site.baseurl }}{{ prj_post_next.url }}"
      class="btn btn-outline-primary"
      aria-label="{{ next }}"
    >
      <p>{{ prj_post_next.title }}</p>
    </a>
  {% else %}
    <div class="btn btn-outline-primary disabled" aria-label="{{ next }}">
      <p>-</p>
    </div>
  {% endif %}
</nav>
