<!-- The paginator for post list on HomgPage. -->
{% assign VERBOSE=false %}
{% assign TAG="[post-paginator.html] " %}

<!-- get posts -->
{% assign lang_bag = site.posts | where_exp: 'item', 'item.lang == page.lang and item.layout == "post" and item.hidden != true' %}
{% assign lang_bag_pin = lang_bag | where_exp: 'item', 'item.pin == true' %}

{% assign size_lang_bag = lang_bag | size %}
{% assign size_lang_bag_pin = lang_bag_pin | size %}

{% if VERBOSE == true %}
  {{ TAG }}size_lang_bag={{ size_lang_bag }}<br>
  {{ TAG }}size_lang_bag_pin={{ size_lang_bag_pin }}<br>
{% endif %}

<!-- size_lang_total_pages -->
{% assign size_lang_total_pages = size_lang_bag | divided_by: site.prj_paginate %}
{% assign size_lang_remain_posts = size_lang_bag | modulo: site.prj_paginate %}

{% if VERBOSE == true %}
  {{ TAG }}size_lang_total_pages(before)={{ size_lang_total_pages }}<br>
{% endif %}

{% if size_lang_remain_posts > 0 %}
  {% assign size_lang_total_pages = size_lang_total_pages | plus: 1 %}
{% endif %}

{% if VERBOSE == true %}
  {{ TAG }}size_lang_remain_posts={{ size_lang_remain_posts }}<br>
  {{ TAG }}size_lang_total_pages(after)={{ size_lang_total_pages }}<br>
{% endif %}

<!-- lang_prev_url /  lang_next_url -->
{% assign prev_page_num=page.ro_page_num | minus: 1 %}
{% assign lang_prev_url = lang_prev_url | append: page.lang %}
{% assign lang_prev_url = lang_prev_url | append: "/pages/" %}
{% assign lang_prev_url = lang_prev_url | append: prev_page_num %}
{% assign lang_prev_url = lang_prev_url | relative_url %}

{% assign next_page_num=page.ro_page_num | plus: 1 %}
{% assign lang_next_url = lang_next_url | append: page.lang %}
{% assign lang_next_url = lang_next_url | append: "/pages/" %}
{% assign lang_next_url = lang_next_url | append: next_page_num %}
{% assign lang_next_url = lang_next_url | relative_url %}

{% if VERBOSE == true %}
  {{ TAG }}lang_prev_url={{ lang_prev_url }}<br>
  {{ TAG }}lang_next_url={{ lang_next_url }}<br>
{% endif %}

<!-- lang_prev_page / lang_next_page -->
{% assign lang_prev_page=false %}
{% assign lang_next_page=false %}
{% if page.ro_page_num > 1 %}
  {% assign lang_prev_page=true %}
{% endif %}
{% if page.ro_page_num < size_lang_total_pages %}
  {% assign lang_next_page=true %}
{% endif %}

{% if VERBOSE == true %}
  {{ TAG }}lang_prev_page={{ lang_prev_page }}<br>
  {{ TAG }}lang_next_page={{ lang_next_page }}<br>
{% endif %}


<nav aria-label="Page Navigation">
  <ul class="pagination align-items-center mt-4 mb-0">
    <!-- left arrow -->
    {% if lang_prev_page %}
      {% assign prev_url = lang_prev_url %}
    {% else %}
      {% assign prev_url = '#' %}
    {% endif %}

    <li class="page-item {% unless lang_prev_page %}disabled{% endunless %}">
      <a class="page-link" href="{{ prev_url }}" aria-label="previous-page">
        <i class="fas fa-angle-left"></i>
      </a>
    </li>

    <!-- page numbers -->
    {% assign left_ellipsis = false %}
    {% assign right_ellipsis = false %}

    {% for i in (1..size_lang_total_pages) %}
      {% assign pre = page.ro_page_num | minus: 1 %}
      {% assign next = page.ro_page_num | plus: 1 %}
      {% assign pre_less = pre | minus: 1 %}
      {% assign next_more = next | plus: 1 %}
      {% assign show = false %}

      {% if page.ro_page_num == 1 %}
        {% if i <= 3 or i == size_lang_total_pages %}
          {% assign show = true %}
        {% endif %}
      {% elsif page.ro_page_num == size_lang_total_pages %}
        {% if i == 1 or i >= pre_less %}
          {% assign show = true %}
        {% endif %}
      {% else %}
        {% if i == 1 or i == size_lang_total_pages %}
          {% assign show = true %}
        {% elsif i >= pre and i <= next %}
          {% assign show = true %}
        {% endif %}
      {% endif %}

      {% if show %}
        <!-- show number -->
        <li class="page-item {% if i == page.ro_page_num %} active{% endif %}">

          {% assign tmp_url = "" | append: page.lang %}
          {% if i > 1 %}
            {% assign tmp_url = tmp_url | append: "/pages/" %}
            {% assign tmp_url = tmp_url | append: i %}
          {% endif %}
          {% assign tmp_url = tmp_url | relative_url %}

          <a class="page-link" href="{{ tmp_url }}" >
            {{- i -}}
          </a>
        </li>
      {% else %}
        <!-- hide number -->
        {% if i < pre and left_ellipsis == false %}
          <li class="page-item disabled">
            <span class="page-link">...</span>
          </li>
          {% assign left_ellipsis = true %}
        {% elsif i > next and right_ellipsis == false %}
          <li class="page-item disabled">
            <span class="page-link">...</span>
          </li>
          {% assign right_ellipsis = true %}
        {% endif %}
      {% endif %}
    {% endfor %}

    <!-- mobile pagination -->
    <li class="page-index align-middle">
      <span>{{ page.ro_page_num }}</span>
      <span class="text-muted">/ {{ size_lang_total_pages }}</span>
    </li>

    <!-- right arrow -->
    {% if lang_next_page %}
      {% assign next_url = lang_next_url %}
    {% else %}
      {% assign next_url = '#' %}
    {% endif %}

    <li class="page-item {% unless lang_next_page %}disabled{% endunless %}">
      <a class="page-link" href="{{ next_url }}" aria-label="next-page">
        <i class="fas fa-angle-right"></i>
      </a>
    </li>
  </ul>
</nav>
<!-- .pagination -->
