{% assign VERBOSE=false %}
{% assign TAG="[prj_tag] " %}

{% comment %}-------------------------------------------------------------------{% endcomment %}
{% comment %}  prj_tag_list / prj_tag_list_cnt_a or prj_tag_list_cnt_b          {% endcomment %}
{% comment %}-------------------------------------------------------------------{% endcomment %}
{% assign posts = site.posts | where_exp: 'item', 'item.lang == page.lang and item.layout == "post" and item.hidden != true and item.tags.size > 0' %}

{% assign prj_tag_list = '' | split: '' %}
{% assign prj_tag_list_cnt_a = '' | split: '' %}
{% assign prj_tag_list_cnt_b = '' | split: '' %}


{% for post in posts %}
    {% for tag in post.tags %}    

        {% assign is_found_key = false %}
        {% for index in (0..prj_tag_list.size) %}
            {% if prj_tag_list[index] != tag %}
                {% continue %}          
            {% endif %}

            {% assign is_found_key = true %}
            {% if prj_tag_list_cnt_a.size > 0 %}
                {% assign tmp_cnt=prj_tag_list_cnt_a[index] | plus: 1 %}
                {% assign prj_tag_list_cnt_b = '' | split: '' %}

                {% for index_a in (0..prj_tag_list_cnt_a.size) %}
                    {% if index_a == prj_tag_list_cnt_a.size %}{% break %}{% endif %}
                    
                    {% if index == index_a %}
                        {% assign prj_tag_list_cnt_b = prj_tag_list_cnt_b | push: tmp_cnt %}
                    {% else %}
                        {% assign prj_tag_list_cnt_b = prj_tag_list_cnt_b | push: prj_tag_list_cnt_a[index_a] %}
                    {% endif %}
                {% endfor %}
                {% assign prj_tag_list_cnt_a = '' | split: '' %}

            {% else %}
                {% assign tmp_cnt=prj_tag_list_cnt_b[index] | plus: 1 %}
                {% assign prj_tag_list_cnt_a = '' | split: '' %}

                {% for index_b in (0..prj_tag_list_cnt_b.size) %}
                    {% if index_b == prj_tag_list_cnt_b.size %}{% break %}{% endif %}

                    {% if index == index_b %}
                        {% assign prj_tag_list_cnt_a = prj_tag_list_cnt_a | push: tmp_cnt %}
                    {% else %}
                        {% assign prj_tag_list_cnt_a = prj_tag_list_cnt_a | push: prj_tag_list_cnt_b[index_b] %}
                    {% endif %}
                {% endfor %}
                {% assign prj_tag_list_cnt_b = '' | split: '' %}

            {% endif %}

            {% if VERBOSE == true %}
                {{ TAG }}ADD  /  {{ tag }}  /  {{ tmp_cnt }}<br>
                {{ TAG }}prj_tag_list_cnt_a={{ prj_tag_list_cnt_a }}<br>
                {{ TAG }}prj_tag_list_cnt_b={{ prj_tag_list_cnt_b }}<br>
                {{ TAG }}----------------------------------------<br>
            {% endif %}
      
            {% break %}
        {% endfor %}

        {% if is_found_key == false %}

            {% assign prj_tag_list = prj_tag_list | push: tag %}      
            {% if prj_tag_list_cnt_a.size > 0 %}
                {% assign prj_tag_list_cnt_a = prj_tag_list_cnt_a | push: 1 %}
            {% else %}
                {% assign prj_tag_list_cnt_b = prj_tag_list_cnt_b | push: 1 %}
            {% endif %}

            {% if VERBOSE == true %}
                {{ TAG }}NEW  /  {{ tag }}  /  1<br>
                {{ TAG }}prj_tag_list_cnt_a={{ prj_tag_list_cnt_a }}<br>
                {{ TAG }}prj_tag_list_cnt_b={{ prj_tag_list_cnt_b }}<br>
                {{ TAG }}----------------------------------------<br>
            {% endif %}
        {% endif %}

    {% endfor %}
{% endfor %}

{% if VERBOSE == true %}
    {{ TAG }}========================================<br>
    {{ TAG }}prj_tag_list={{ prj_tag_list }} / {{ prj_tag_list.size }}<br>
    {{ TAG }}prj_tag_list_cnt_a={{ prj_tag_list_cnt_a }} / {{ prj_tag_list_cnt_a.size }}<br>
    {{ TAG }}prj_tag_list_cnt_b={{ prj_tag_list_cnt_b }} / {{ prj_tag_list_cnt_b.size }}<br>

    {% for lti in (0..prj_tag_list.size) %}
        {% if lti == prj_tag_list.size %}{% break %}{% endif %}
        {% if prj_tag_list_cnt_a.size > 0 %}
            {{ TAG }}{{ prj_tag_list[lti] }} - {{ prj_tag_list_cnt_a[lti] }}<br>
        {% else %}  
            {{ TAG }}{{ prj_tag_list[lti] }} - {{ prj_tag_list_cnt_b[lti] }}<br>
        {% endif %}
    {% endfor %}
{% endif %}


{% comment %}-------------------------------------------------------------------{% endcomment %}
{% comment %}  prj_tag_list_trending                                            {% endcomment %}
{% comment %}-------------------------------------------------------------------{% endcomment %}
{% assign prj_tag_list_trending = '' | split: '' %}
{% assign prj_tag_TRENDING_MAX = 10 %}
{% assign prj_tag_TRENDING_MAX_POPULAR = 7 %}

{% assign sum_cnt = 0 %}
{% assign avg_tagged = 0 %}

{% for lti in (0..prj_tag_list.size) %}
    {% if lti == prj_tag_list.size %}{% break %}{% endif %}

    {% if prj_tag_list_cnt_a.size > 0 %}
        {% assign sum_cnt = sum_cnt | plus: prj_tag_list_cnt_a[lti] %} 
    {% else %}  
        {% assign sum_cnt = sum_cnt | plus: prj_tag_list_cnt_b[lti] %} 
    {% endif %}
{% endfor %}
{% assign avg_tagged = sum_cnt | divided_by: prj_tag_list.size %}

{% if VERBOSE == true %}
    {{ TAG }}========================================<br>
    {{ TAG }}sum_cnt={{ sum_cnt }}<br>
    {{ TAG }}avg_tagged={{ avg_tagged }}<br>
{% endif %}

{% if prj_tag_list_cnt_a.size > 0 %}

    {% for tlcai in (0..prj_tag_list_cnt_a.size) %}
        {% if tlcai == prj_tag_list_cnt_a.size %}{% break %}{% endif %}

        {% if prj_tag_list_cnt_a[tlcai] > avg_tagged and prj_tag_list_trending.size < prj_tag_TRENDING_MAX_POPULAR %}
            {% assign prj_tag_list_trending = prj_tag_list_trending | push: prj_tag_list[tlcai] %}
        {% endif %}  
    {% endfor %}

{% else %}  

    {% for tlcbi in (0..prj_tag_list_cnt_b.size) %}
        {% if tlcbi == prj_tag_list_cnt_b.size %}{% break %}{% endif %}

        {% if prj_tag_list_cnt_b[tlcbi] > avg_tagged and prj_tag_list_trending.size < prj_tag_TRENDING_MAX_POPULAR %}
            {% assign prj_tag_list_trending = prj_tag_list_trending | push: prj_tag_list[tlcbi] %}
        {% endif %}  
    {% endfor %}

{% endif %}

{% if VERBOSE == true %}
    {{ TAG }}prj_tag_list_trending.size={{ prj_tag_list_trending.size }}<br>
    {{ TAG }}prj_tag_list_trending={{ prj_tag_list_trending }}<br>
{% endif %}

{% for lti in (0..prj_tag_list.size) %}
    {% if lti == prj_tag_list.size %}{% break %}{% endif %}
    
    {% if prj_tag_list_trending.size >= prj_tag_TRENDING_MAX %}
        {{ break }}
    {% endif %}
    
    {% assign prj_tag_list_trending = prj_tag_list_trending | push: prj_tag_list[lti] | uniq %}

{% endfor %}

{% if VERBOSE == true %}
    {{ TAG }}prj_tag_list_trending.size={{ prj_tag_list_trending.size }}<br>
    {{ TAG }}prj_tag_list_trending={{ prj_tag_list_trending }}<br>
{% endif %}