{%- comment %}
  prj_site_title    , prj_site_tagline
  prj_site_en_title , prj_site_en_tagline
{%- endcomment %}

{%- assign prj_site_title = "Default Title" %}
{%- assign prj_site_tagline = "Default Tagline" %}

{%- assign prj_site_en_title = "Default Title" %}
{%- assign prj_site_en_tagline = "Default Tagline" %}

{%- for index in (0..site.languages.size) %}
  {%- if index == site.languages.size %}{%- break %}{%- endif %}
  {%- if site.languages[index] == "en" %}
    {%- assign prj_site_en_title = site.titles[index] %}
    {%- assign prj_site_en_tagline = site.taglines[index] %}
  {%- endif %}
  {%- if site.languages[index] == page.lang %}
    {%- assign prj_site_title = site.titles[index] %}
    {%- assign prj_site_tagline = site.taglines[index] %}
  {%- endif %}
{%- endfor %}