<!-- The trending tags list -->
{% assign VERBOSE=false %}
{% assign TAG="[trending-tags.html] " %}
{% include prj_tag.html %}

{% if prj_tag_list_trending.size > 0 %}
  <section>
    <h2 class="panel-heading">{{- site.data.locales[include.lang].panel.trending_tags -}}</h2>
    <div class="d-flex flex-wrap mt-3 mb-1 me-3">
      {% for tag_name in prj_tag_list_trending %}
        {% assign url = tag_name | slugify | url_encode | prepend: '/tags/' %}
        <a class="post-tag btn btn-outline-primary" href="{{ page.lang | relative_url }}{{ url | relative_url }}">{{ tag_name }}</a>
      {% endfor %}
    </div>
  </section>
{% endif %}
