<!-- Get the last 5 posts from latest list. -->
{% assign VERBOSE=false %}
{% assign TAG="[udpate-list] " %}

{% assign posts = site.posts | where_exp: 'item', 'item.lang == page.lang and item.layout == "post" and item.hidden != true' %}
{% assign MAX_SIZE = 5 %}

{% if VERBOSE == true %}
  posts.size={{ posts.size }}<br>
  page.lang={{ page.lang }}<br>
{% endif %}   

{% if posts.size > 0 %}
  <section id="access-lastmod">
    <h2 class="panel-heading">{{- site.data.locales[include.lang].panel.lastmod -}}</h2>
    <ul class="content list-unstyled ps-0 pb-1 ms-1 mt-2">
      {% for index in (0..posts.size) %}
        {% if index == posts.size %}{% break %}{% endif %}

        {% if index < MAX_SIZE %}
          {% assign url = posts[index].url | relative_url %}
          <li class="text-truncate lh-lg">
            <a href="{{ url }}">{{ posts[index].title }}</a>
          </li>

        {% else %}
          {% break %}

        {% endif %}        
      {% endfor %}
    </ul>
  </section>

{% endif %}


