---
layout: page
# The Category layout
---

{% include lang.html %}


<!-- VERBOSE, TAG -->
{% assign VERBOSE=false %}
{% assign TAG="[category.html] " %}

{% if VERBOSE == true %}
  {{ TAG }}page.category_web={{ page.category_web }}<br>
{% endif %}

<!-- prj_size_category -->
{% assign posts = site.posts | where_exp: 'item', 'item.lang == page.lang and item.layout == "post" and item.hidden != true and item.categories.size > 0' %}

{% assign prj_size_category = 0 %}
{% for post in posts %}
  {% for category in post.categories %}
    {% capture _category %}{{ category | slugify }}{% endcapture %}
    {% if _category == page.category_web %}
      {% assign prj_size_category = prj_size_category | plus: 1 %}
      {% break %}
    {% endif %}

  {% endfor %}    
{% endfor %}

{% if VERBOSE == true %}
  {{ TAG }}prj_size_category={{ prj_size_category }}<br>
{% endif %}


<div id="page-category">
  <h1 class="ps-lg-2">
    <i class="far fa-folder-open fa-fw text-muted"></i>
    {{ page.title }}
    <span class="lead text-muted ps-2">{{ prj_size_category }}</span>
  </h1>

  <ul class="content ps-0">
    {% assign posts = site.posts | where_exp: 'item', 'item.lang == page.lang and item.layout == "post" and item.hidden != true and item.categories.size > 0' %}

    {% for post in posts %}

      {% assign is_found_category = false %}
      {% for category in post.categories %}  
        {% capture _category %}{{ category | slugify }}{% endcapture %}
        {% if _category == page.category_web %}
          {% assign is_found_category = true %}
          {% break %}
        {% endif %}
      {% endfor %} 

      {% if is_found_category == true %}
      <li class="d-flex justify-content-between px-md-3">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="dash flex-grow-1"></span>
        {% include datetime.html date=post.date class='text-muted small text-nowrap' lang=lang %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
