---
layout: page
# The layout for Tag page
---

{% include lang.html %}

{% comment %}-------------------------------------------------------------------{% endcomment %}
{% comment %} VERBOSE, TAG                                                      {% endcomment %}
{% comment %}-------------------------------------------------------------------{% endcomment %}
{% assign VERBOSE=false %}
{% assign TAG="[tag.html] " %}

{% if VERBOSE == true %}
  {{ TAG }}page.tag_web={{ page.tag_web }}<br>
{% endif %}

{% comment %}-------------------------------------------------------------------{% endcomment %}
{% comment %} prj_size_tag                                                      {% endcomment %}
{% comment %}-------------------------------------------------------------------{% endcomment %}
{% assign posts = site.posts | where_exp: 'item', 'item.lang == page.lang and item.layout == "post" and item.hidden != true and item.tags.size > 0' %}

{% assign prj_size_tag = 0 %}
{% for post in posts %}
  {% for tag in post.tags %}
    {% capture _tag %}{{ tag | slugify }}{% endcapture %}
    {% if _tag == page.tag_web %}
      {% assign prj_size_tag = prj_size_tag | plus: 1 %}
      {% break %}
    {% endif %}

  {% endfor %}    
{% endfor %}

{% if VERBOSE == true %}
  {{ TAG }}prj_size_tag={{ prj_size_tag }}<br>
{% endif %}



<div id="page-tag">
  <h1 class="ps-lg-2">
    <i class="fa fa-tag fa-fw text-muted"></i>
    {{ page.title }}
    <span class="lead text-muted ps-2">{{ prj_size_tag }}</span>
  </h1>
  <ul class="content ps-0">
    {% for post in posts -%}
      {% assign is_found_tag = false -%}
      {% for tag in post.tags -%}  
        {% capture _tag %}{{ tag | slugify }}{% endcapture -%}
        {% if _tag == page.tag_web -%}
          {% assign is_found_tag = true -%}
          {% break -%}
        {% endif -%}
      {% endfor -%} 

      {% if is_found_tag == true -%}
      <li class="d-flex justify-content-between px-md-3">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="dash flex-grow-1"></span>
        {% include datetime.html date=post.date class='text-muted small text-nowrap' lang=lang %}
      </li>
      {% endif -%}
    {% endfor -%}
  </ul>
</div>
